<nav class="navbar navbar-area navbar-expand-lg navbar-light ">
    <div class="container nav-container">
        <div class="logo-wrapper navbar-brand">
            <a href="index.html" class="logo main-logo">
                <img src="assets/img/logo.png" alt="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="mirex">
            <!-- navbar collapse start -->
            <ul class="navbar-nav">
                <!-- navbar- nav -->
                <li class="nav-item active dropdown">
                    <a class="nav-link pl-0 dropdown-toggle" href="#" data-toggle="dropdown">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/" class="dropdown-item">Home</a>
                        
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown mega-menu"><!-- mega menu start -->
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pages</a>
                    <div class="mega-menu-wrapper">
                        <div class="container mega-menu-container">
                            <div class="row">
                              <div class="col-lg-3 col-sm-12">
                                <div class="mega-menu-columns">
                                    <h6 class="title">Inner Pages</h6>
                                    <ul class="menga-menu-page-links">
                                        <li><a routerLink="/category">Category</a></li>
                                        <li><a routerLink="/shopping-cart">Cart</a></li>
                                        <li><a routerLink="/product-details">Product Details</a></li>
                                        <li><a routerLink="/signup">Signup</a></li>
                                        <li><a routerLink="/sellers-products">Sellers Products</a></li>
                                        <li><a routerLink="/seller-dashboard">Sellers Dashboard</a></li>
                                    </ul>
                                </div>
                              </div>
                              <div class="col-lg-3 col-sm-12">
                                    <div class="mega-menu-columns">
                                        <h6 class="title">Other Pages</h6>
                                        <ul class="menga-menu-page-links">
                                            <li><a routerLink="/upload-product">Product Upload</a></li>
                                            <li><a routerLink="/offers">Offer</a></li>
                                            <li><a routerLink="/invoice">Invoice</a></li>
                                            <li><a routerLink="/vendor-list">Vendor List</a></li>
                                            <li><a routerLink="/partners">Partners</a></li>
                                            <li><a routerLink="page-not-found">404 Page</a></li>
                                        </ul>
                                    </div>
                              </div>
                              <div class="col-lg-3 col-sm-12">
                                    <div class="mega-menu-columns">
                                        <h6 class="title">Other Pages</h6>
                                        <ul class="menga-menu-page-links">
                                            <li><a routerLink="/search">Search</a></li>
                                            <li><a routerLink="/become-affiliats">Become Affiliant</a></li>
                                            <li><a routerLink="/faq">Faq</a></li>
                                            <li><a routerLink="/track-orders">Track Order</a></li>
                                            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                            <li><a routerLink="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                              </div>
                              <div class="col-lg-3 col-sm-12">
                                    <a routerLink="product-details.html">
                                        <img src="assets/img/mega-menu.jpg" alt="product image">
                                    </a>
                              </div>
                            </div>
                          </div>
                    </div>
                </li><!-- mega menu start -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu">
                        <a routerLink="/blog" class="dropdown-item">Blog</a>
                        <a routerLink="/blog-details" class="dropdown-item">Blog Details</a>
                        <a routerLink="/product-list" class="dropdown-item">Product List</a>
                        <a routerLink="/add-vendor" class="dropdown-item">Add Vendor</a>
                        <a routerLink="/vendor-alist" class="dropdown-item">Vendor List</a>
                        
                        
                        
                        
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/auth-user">Login</a>
                </li>
            </ul>
            <!-- /.navbar-nav -->
        </div>
       
        <!-- /.navbar btn wrapper -->
        <div class="responsive-mobile-menu">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mirex" aria-controls="mirex"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="right-btn-wrapper">
            <ul>
                <li class="search" id="search"><i class="fas fa-search"></i> </li>
                <li class="cart" id="cart"><i class="fas fa-shopping-basket"></i> 
                    <span class="badge">12</span>
                    </li>
                <li class="right-menu" id="side-menu"><i class="fas fa-bars"></i> </li>
            </ul>
        </div>
        <!-- navbar collapse end -->
    </div>
</nav>