<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg" >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                  <div class="left-content-area"><!-- left content area -->
                      <h1 class="title">Our Partners</h1>
                  </div><!-- //. left content area -->
                  <div class="right-content-area">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li>Our Partners</li>
                      </ul>
                  </div>
              </div><!-- //. breadcrumb inner -->
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb area end -->
<!-- partner logo content area start -->
<section class="partner-logo-content">
  <div class="container">
      <div class="row partner-logo-wrapper">
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/01.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/10.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/02.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/03.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          </div>
          <div class="row partner-logo-wrapper">
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/04.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/05.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/06.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/07.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
      </div>
      <div class="row partner-logo-wrapper">
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/08.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/09.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/11.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/12.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
      </div>
      <div class="row partner-logo-wrapper">
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/13.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/14.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/15.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/16.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
      </div>
      <div class="row partner-logo-wrapper">
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/17.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/18.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/19.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>
          <div class="col-lg-3 col-md-6 remove-col-padding partner-logos">
              <div class="single-logo-item"><!-- single logo item -->
                  <a href="#">
                      <img src="assets/img/partners/20.jpg" alt="partner image">
                  </a>
              </div><!-- //.single logo item -->
          </div>

      </div>
  </div>
</section>
<!-- partner logo content area end -->