<!-- header area start -->
<div class="header-area header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-inner "><!-- header inner -->
                    <span class="subtitle">Get 50% Off in summer</span>
                    <h1 class="title">Seasonal Offers.</h1>
                    <p class="wow fadeInDown">Stock up on sportswear and limited edition collections on
                        our awesome mid-season sale.</p>
                        <div class="btn-wrapper">
                            <a href="category.html" class="boxed-btn">View Collections</a>
                            <a href="about.html" class="boxed-btn blank">learn more</a>
                        </div>
                </div><!-- //. header inner -->
            </div>
        </div>
    </div>
</div>