<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                  <div class="left-content-area"><!-- left content area -->
                      <h1 class="title">Invoice</h1>
                  </div><!-- //. left content area -->
                  <div class="right-content-area">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li>Invoice</li>
                      </ul>
                  </div>
              </div><!-- //. breadcrumb inner -->
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb area end -->

<!-- invoice page content area start -->
<div class="invoice-page-content-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="invoice-inner"><!-- invoice inner -->
                  <div class="top-content"><!-- top content -->
                      <div class="left-content">
                          <span class="subtitle">Get your copy</span>
                          <h3 class="title">Invoice</h3>
                      </div>
                      <div class="right-content">
                          <span class="subtitle">Amount due</span>
                          <h3 class="title">$500.00</h3>
                      </div>
                  </div><!-- //.top content -->
                  <div class="bottom-content">
                      <div class="header-content">
                          <div class="left-content">
                              <h4 class="title">Bill to</h4>
                              <span class="details">example@webmail.com</span>
                              <span class="details">+90978 8879 89</span>
                              <span class="details">906 West Applegate Axe Berwyn,
                                  IL 60403, United Kingdom</span>
                          </div>
                          <div class="right-content">
                              <span class="rheading">Invoice Number : <span class="right">#24324</span></span>
                              <span class="heading">P.O/S.O Number  : <span class="right">988866</span></span>
                              <span class="heading">Invoice Date : <span class="right">27/09/2018</span></span>
                              <span class="heading">Payment Due : <span class="right">Upon receipt</span></span>
                          </div>
                      </div>
                      <div class="body-content">
                          <table class="table table-default">
                              <thead>
                                  <tr>
                                      <th>Service</th>
                                      <th>Quantity</th>
                                      <th>Per Unit </th>
                                      <th>Amount</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <div class="service">
                                              <h4 class="title">Mixarbox Wireless Without Speaker</h4>
                                              <span class="subtitle">Model no. #789689</span>
                                          </div>
                                      </td>
                                      <td>
                                          01
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                      <td>
                                          $210.00
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="total">
                              <span class="rheading">Subtotal <span class="right">$3,299.00</span></span>
                              <span class="rheading">Total <span class="right">$3,299.00</span></span>
                          </div>
                      </div>
                  </div>
                  <div class="footer-content">
                      call for query +8789658 98768
                  </div>
              </div><!-- //. invoice inner  -->
          </div>
      </div>
  </div>
</div>
<!-- invoice page content area end -->