
<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                  <div class="left-content-area"><!-- left content area -->
                      <h1 class="title">Get Offers</h1>
                  </div><!-- //. left content area -->
                  <div class="right-content-area">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li>Get Offers</li>
                      </ul>
                  </div>
              </div><!-- //. breadcrumb inner -->
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb area end -->
<!-- offer page content area start -->
<div class="offer-page-content-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="single-offer-item"><!-- single offer item -->
                 <a href="#"> <img src="assets/img/offer/01.jpg" alt="offer image"></a>
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-6">
              <div class="single-offer-item"><!-- single offer item -->
                 <a href="#"> <img src="assets/img/offer/02.jpg" alt="offer image"></a>
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-8">
              <div class="single-offer-item"><!-- single offer item -->
                  <a href="#"><img src="assets/img/offer/03.jpg" alt="offer image"></a>
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-4">
              <div class="single-offer-item"><!-- single offer item -->
                 <a href="#"> <img src="assets/img/offer/04.jpg" alt="offer image"></a>
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-6">
              <div class="single-offer-item"><!-- single offer item -->
                  <img src="assets/img/offer/05.jpg" alt="offer image">
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-6">
              <div class="single-offer-item"><!-- single offer item -->
                  <img src="assets/img/offer/06.jpg" alt="offer image">
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-8">
              <div class="single-offer-item"><!-- single offer item -->
                  <img src="assets/img/offer/08.jpg" alt="offer image">
              </div><!-- //.single offer item -->
          </div>
          <div class="col-lg-4">
              <div class="single-offer-item"><!-- single offer item -->
                  <img src="assets/img/offer/07.jpg" alt="offer image">
              </div><!-- //.single offer item -->
          </div>
      </div>
  </div>
</div>
<!-- offer page content area end -->

<!-- testimonial area start -->
<section class="testimonial-area gray-bg">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="section-title-two rubik extra"><!-- section title two -->
                  <span class="subtitle">Testimonials</span>
                  <h2 class="title">Happy Clients</h2>
              </div><!-- //. section title two -->
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="testimonial-carousel" id="testimonial-carousel"><!-- team member carusel -->
                  <div class="sinlge-testimonial-member"><!-- single team member -->
                      <div class="thumb">
                          <img src="assets/img/testimonial/01.jpg" alt="team member image">
                      </div>
                      <div class="content">
                          <h4 class="title">Mikado Yankee</h4>
                          <span class="post">Ceo & designer</span>
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>   
                      </div>
                  </div>
                  <div class="sinlge-testimonial-member"><!-- single team member -->
                      <div class="thumb">
                          <img src="assets/img/testimonial/02.jpg" alt="team member image">
                      </div>
                      <div class="content">
                          <h4 class="title">Mikado Yankee</h4>
                          <span class="post">Ceo & designer</span>
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>      
                      </div>
                  </div>
                  <div class="sinlge-testimonial-member"><!-- single team member -->
                      <div class="thumb">
                          <img src="assets/img/testimonial/03.jpg" alt="team member image">
                      </div>
                      <div class="content">
                          <h4 class="title">Mikado Yankee</h4>
                          <span class="post">Ceo & designer</span>
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>    
                      </div>
                  </div>
                  <div class="sinlge-testimonial-member"><!-- single team member -->
                      <div class="thumb">
                          <img src="assets/img/testimonial/04.jpg" alt="team member image">
                      </div>
                      <div class="content">
                          <h4 class="title">Mikado Yankee</h4>
                          <span class="post">Ceo & designer</span>
                          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>     
                      </div>
                  </div>
              </div><!-- //.team member carusel -->
          </div>
      </div>
  </div>
</section>
<!-- testimonial area end -->
<!-- our story area start -->
<section class="our-story-area">
  <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8">
              <div class="section-title">
                  <span class="subtitle rubik">Latest Posts</span>
                  <h2 class="title rubik">Read Our Stories</h2>
              </div>
         </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-our-story-item"><!-- single our story item -->
                  <div class="thumb">
                      <img src="assets/img/our-story/01.jpg" alt="our story">
                  </div>
                  <div class="conent">
                      <span class="time">February 12, 2016</span>
                     <a href="#"> <h4 class="title">10 Innovative Product In Our Selforin.</h4></a>
                      <p>Lorem ipsum dolor sit amet, consectetuer
                          adipiscing elit, sed diam nonummy nibh
                          euismod tincidunt ut...</p>
                  </div>
              </div><!-- //.single our story item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-our-story-item"><!-- single our story item -->
                  <div class="thumb">
                      <img src="assets/img/our-story/02.jpg" alt="our story">
                  </div>
                  <div class="conent">
                      <span class="time">February 12, 2016</span>
                      <a href="#"><h4 class="title">10 Innovative Product In Our Selforin.</h4></a>
                      <p>Lorem ipsum dolor sit amet, consectetuer
                          adipiscing elit, sed diam nonummy nibh
                          euismod tincidunt ut...</p>
                  </div>
              </div><!-- //.single our story item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-our-story-item"><!-- single our story item -->
                  <div class="thumb">
                      <img src="assets/img/our-story/03.jpg" alt="our story">
                  </div>
                  <div class="conent">
                      <span class="time">February 12, 2016</span>
                      <a href="#"><h4 class="title">10 Innovative Product In Our Selforin.</h4></a>
                      <p>Lorem ipsum dolor sit amet, consectetuer
                          adipiscing elit, sed diam nonummy nibh
                          euismod tincidunt ut...</p>
                  </div>
              </div><!-- //.single our story item -->
          </div>
      </div>
  </div>
</section>
<!-- our story area end -->
<div class="body-overlay" id="body-overlay"></div>
<div class="search-popup" id="search-popup">
  <form action="index.html" class="search-popup-form">
      <div class="form-element">
              <input type="text"  class="input-field" placeholder="Search.....">
      </div>
      <button type="submit" class="submit-btn"><i class="fas fa-search"></i></button>
  </form>
</div>