<section class="best-sellers-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title"><!-- section title --> 
                    <span class="subtitle">Trending products</span>
                    <h2 class="title">Our Best Sellers</h2>
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="best-sellter-filter-menu"><!-- best seller filter menu -->
                      <ul class="nav nav-tabs"  role="tablist">
                          <li class="nav-item">
                                <a class="nav-link active" id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="true">best sellers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trendeseller-tab" data-toggle="tab" href="#trendeseller" role="tab" aria-controls="trendeseller" aria-selected="false">trending sellers</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">new sellers</a>
                        </li>
                      </ul>  
                </div><!-- //.best seller filter menu -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="best-sellter-filter">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                                <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                                <div class="single-new-collection-item "><!-- single new collections -->
                                                    <div class="thumb">
                                                        <img src="assets/img/new-collections/01.jpg" alt="new collcetion image">
                                                        <div class="hover">
                                                            <a href="#" class="addtocart">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <span class="category">shoe</span>
                                                        <a href="product-details.html"><h4 class="title">Footwear Dark</h4></a>
                                                        <div class="price"><span class="sprice">$53.00</span> <del class="dprice">$95.00</del></div>
                                                    </div>
                                                </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/02.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">accesories</span>
                                                    <a href="product-details.html"><h4 class="title">Milo Hoverboard</h4></a>
                                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/03.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">shoe</span>
                                                    <a href="product-details.html"> <h4 class="title">Lobina Perak Shoe</h4></a>
                                                    <div class="price"><span class="sprice">$78.00</span> <del class="dprice">$95.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/04.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">sportswear</span>
                                                    <a href="product-details.html"><h4 class="title">Black Tshirt Brock</h4></a>
                                                    <div class="price"><span class="sprice">$23.00</span> <del class="dprice">$45.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/05.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">hat</span>
                                                    <a href="product-details.html"> <h4 class="title">Red Yello Hat</h4></a>
                                                    <div class="price"><span class="sprice">$23.00</span> <del class="dprice">$45.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/06.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">cycle</span>
                                                    <a href="product-details.html"><h4 class="title">Minimal Cycle</h4></a>
                                                    <div class="price"><span class="sprice">$200.00</span> <del class="dprice">$450.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/07.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">bike</span>
                                                    <a href="product-details.html"><h4 class="title">Dart Moto Bike</h4></a>
                                                    <div class="price"><span class="sprice">$980.00</span> <del class="dprice">$1500.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/08.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">electric</span>
                                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                                    <div class="price"><span class="sprice">$47.00</span> <del class="dprice">$99.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="trendeseller" role="tabpanel" aria-labelledby="trendeseller-tab">
                            <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item "><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/01.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">shoe</span>
                                                    <a href="product-details.html"><h4 class="title">Footwear Dark</h4></a>
                                                    <div class="price"><span class="sprice">$53.00</span> <del class="dprice">$95.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/02.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">accesories</span>
                                                <a href="product-details.html"><h4 class="title">Milo Hoverboard</h4></a>
                                                <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/03.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">shoe</span>
                                                <a href="product-details.html"> <h4 class="title">Lobina Perak Shoe</h4></a>
                                                <div class="price"><span class="sprice">$78.00</span> <del class="dprice">$95.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/04.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">sportswear</span>
                                                <a href="product-details.html"><h4 class="title">Black Tshirt Brock</h4></a>
                                                <div class="price"><span class="sprice">$23.00</span> <del class="dprice">$45.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/05.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">hat</span>
                                                <a href="product-details.html"> <h4 class="title">Red Yello Hat</h4></a>
                                                <div class="price"><span class="sprice">$23.00</span> <del class="dprice">$45.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/06.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">cycle</span>
                                                <a href="product-details.html"><h4 class="title">Minimal Cycle</h4></a>
                                                <div class="price"><span class="sprice">$200.00</span> <del class="dprice">$450.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/07.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">bike</span>
                                                <a href="product-details.html"><h4 class="title">Dart Moto Bike</h4></a>
                                                <div class="price"><span class="sprice">$980.00</span> <del class="dprice">$1500.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-new-collection-item"><!-- single new collections -->
                                            <div class="thumb">
                                                <img src="assets/img/new-collections/08.jpg" alt="new collcetion image">
                                                <div class="hover">
                                                    <a href="#" class="addtocart">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <span class="category">electric</span>
                                                <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                                <div class="price"><span class="sprice">$47.00</span> <del class="dprice">$99.00</del></div>
                                            </div>
                                        </div><!-- //. single new collections  -->
                                    </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                                <div class="single-new-collection-item "><!-- single new collections -->
                                                    <div class="thumb">
                                                        <img src="assets/img/new-collections/01.jpg" alt="new collcetion image">
                                                        <div class="hover">
                                                            <a href="#" class="addtocart">Add To Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="content">
                                                        <span class="category">shoe</span>
                                                        <a href="product-details.html"><h4 class="title">Footwear Dark</h4></a>
                                                        <div class="price"><span class="sprice">$53.00</span> <del class="dprice">$95.00</del></div>
                                                    </div>
                                                </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/02.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">accesories</span>
                                                    <a href="product-details.html"><h4 class="title">Milo Hoverboard</h4></a>
                                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/03.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">shoe</span>
                                                    <a href="product-details.html"> <h4 class="title">Lobina Perak Shoe</h4></a>
                                                    <div class="price"><span class="sprice">$78.00</span> <del class="dprice">$95.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/04.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">sportswear</span>
                                                    <a href="product-details.html"><h4 class="title">Black Tshirt Brock</h4></a>
                                                    <div class="price"><span class="sprice">$23.00</span> <del class="dprice">$45.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/05.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">hat</span>
                                                    <a href="product-details.html"> <h4 class="title">Red Yello Hat</h4></a>
                                                    <div class="price"><span class="sprice">$23.00</span> <del class="dprice">$45.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/06.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">cycle</span>
                                                    <a href="product-details.html"><h4 class="title">Minimal Cycle</h4></a>
                                                    <div class="price"><span class="sprice">$200.00</span> <del class="dprice">$450.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/07.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">bike</span>
                                                    <a href="product-details.html"><h4 class="title">Dart Moto Bike</h4></a>
                                                    <div class="price"><span class="sprice">$980.00</span> <del class="dprice">$1500.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="single-new-collection-item"><!-- single new collections -->
                                                <div class="thumb">
                                                    <img src="assets/img/new-collections/08.jpg" alt="new collcetion image">
                                                    <div class="hover">
                                                        <a href="#" class="addtocart">Add To Cart</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <span class="category">electric</span>
                                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                                    <div class="price"><span class="sprice">$47.00</span> <del class="dprice">$99.00</del></div>
                                                </div>
                                            </div><!-- //. single new collections  -->
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>