<app-slider></app-slider>
<!-- new product area start -->
<app-new-product-area></app-new-product-area>
<!-- new product area end -->

<!-- speakers area start -->
<app-speakers></app-speakers>
<!-- speakers area end -->

<!-- best sellers area start -->
<app-best-sellers-area></app-best-sellers-area>
<!-- best sellers area end -->

<!-- ladies cloths area start -->
<app-ladies-cloths></app-ladies-cloths>
<!-- ladies cloths area end -->

<!-- feature area one start -->
<app-best-sellers></app-best-sellers>
<!-- feature area one end -->