<section class="feature-one-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-featured-one-item"><!-- single featured item -->
                    <div class="inner-item">
                        <span class="subtitle">get 45% off</span>
                        <h3 class="title">Featured</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/01.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/02.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/03.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/04.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                    </ul>
                </div><!-- //.single featured item -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-featured-one-item"><!-- single featured item -->
                    <div class="inner-item">
                        <span class="subtitle">get 45% off</span>
                        <h3 class="title">Best Seller</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/05.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/06.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/07.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                        <li>
                            <div class="single-rated-box-one "><!-- single rated box one -->
                                <div class="thumb">
                                    <img src="assets/img/product-small/08.jpg" alt="product small image">
                                </div>
                                <div class="content">
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star-half-alt"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="product-details.html"><h4 class="title">Minimal Screw</h4></a>
                                    <div class="price"><span class="sprice">$83.00</span> <del class="dprice">$120.00</del></div>
                                </div>
                            </div><!-- //.single rated box one -->
                        </li>
                    </ul>
                </div><!-- //.single featured item -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-featured-one-item"><!-- single featured item -->
                    <div class="inner-item">
                        <span class="subtitle">Product intro</span>
                        <h3 class="title">Offer Ad</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="banner-add">
                                <a href="offers.html"><img src="assets/img/banner-add/01.jpg" alt="banner image"></a>
                            </div>
                        </li>
                        <li>
                            <div class="banner-add">
                                <a href="offers.html"><img src="assets/img/banner-add/02.jpg" alt="banner image"></a>
                            </div>
                        </li>
                    </ul>
                </div><!-- //.single featured item -->
            </div>
        </div>
    </div>
</section>