<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra" >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                  <div class="left-content-area"><!-- left content area -->
                      <h1 class="title">Faq</h1>
                  </div><!-- //. left content area -->
                  <div class="right-content-area">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li>Faq</li>
                      </ul>
                  </div>
              </div><!-- //. breadcrumb inner -->
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb area end -->

<!-- faq page content area start-->
<section class="faq-page-content-area">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="faq-search-wrapper"><!-- faq search wrapper -->
                  <h4 class="title">Get Every Solutions From There</h4>
                  <form action="faq.html" class="faq-search-form">
                      <div class="form-element">
                          <input type="search" class="input-field" placeholder="Type your question here">
                      </div>
                      <button type="submit" class="submit-btn"><i class="fas fa-search"></i> search</button>
                  </form>
              </div><!-- //.faq search wrapper -->
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      01
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      02
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      03
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      04
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      05
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      06
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      07
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      08
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      09
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      10
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      11
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-faq-item"><!-- single faq item -->
                  <div class="number">
                      12
                  </div>
                  <div class="content">
                      <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                  </div>
              </div><!-- //. single faq item -->
          </div>
      </div>
  </div>
</section>
<!-- faq page content area end -->