<section class="ladies-cloths-area ladies-cloths-bg">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="ladies-cloths-content-area"><!-- ladies cloths content area -->
                    <div class="countdown-area"><!-- countdown area start -->
                        <ul>
                            <li>
                                <div class="single-countdown-box"><!-- single countdown box -->
                                    <div class="day" id="days">03</div>
                                    <span class="title">Days</span>
                                </div><!-- //.single countdown box -->
                            </li>
                            <li>
                                <div class="single-countdown-box"><!-- single countdown box -->
                                    <div class="day" id="hours">12</div>
                                    <span class="title">hours</span>
                                </div><!-- //.single countdown box -->
                            </li>
                            <li>
                                <div class="single-countdown-box"><!-- single countdown box -->
                                    <div class="day" id="miniutes">17</div>
                                    <span class="title">miniutes</span>
                                </div><!-- //.single countdown box -->
                            </li>
                            <li>
                                <div class="single-countdown-box"><!-- single countdown box -->
                                    <div class="day" id="seconds">45</div>
                                    <span class="title">seconds</span>
                                </div><!-- //.single countdown box -->
                            </li>
                        </ul>
                    </div><!-- //. countdown area -->
                    <div class="bottom-content">
                        <span class="subtitle">Get 35% Off in summer</span>
                        <h3 class="title">Ladies Cloths</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <a href="category.html" class="boxed-btn">view collections</a>
                    </div>
                </div><!-- //.ladies cloths content area -->
            </div>
        </div>
    </div>
</section>