<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra" >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                  <div class="left-content-area"><!-- left content area -->
                      <h1 class="title">Become Affiliats</h1>
                  </div><!-- //. left content area -->
                  <div class="right-content-area">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li>Become Affiliats</li>
                      </ul>
                  </div>
              </div><!-- //. breadcrumb inner -->
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb area end -->
<!-- affiliate link area start -->
<section class="affiliate-link-content-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-7">
              <div class="left-content-area"><!-- left content area -->
                  <h4 class="title">Affiliate Link</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  <div class="bottom-content">
                      <div class="top-content">
                          <ul>
                              <li>
                                  <div class="affliate-link">
                                      <div class="form-element">
                                          <input type="text" class="input-field" value="https://bigenza.com/?ref_id=ef5e865b8034">
                                      </div>
                                      <div class="icon">
                                          <i class="fas fa-cog"></i>
                                      </div>
                                  </div>
                              </li>
                              <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                          </ul>
                      </div>
                      <div class="bottom-content">
                          <ul>
                              <li>
                                  <a href="#" class="boxed-btn black">API developers link</a>
                              </li>
                              <li>
                                  <a href="#" class="boxed-btn">customizeable widget</a>
                              </li>
                          </ul>
                      </div>
                  </div>    
              </div><!-- //. left content area -->
          </div>
          <div class="col-lg-5">
              <div class="right-content-area">
                  <img src="assets/img/affiliate.jpg" alt="affiliate image">
              </div>
          </div>
      </div>
  </div>
</section>
<!-- affiliate link area end -->

<!-- counter up area start -->
<div class="counter-up-area counter-up-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="single-counter-up-item"><!-- single counter up item -->
                  <div class="icon">
                      <i class="fab fa-telegram-plane"></i>
                  </div>
                  <div class="content">
                      <div class="count-number">
                          <span class="count">12,090</span>
                      </div>
                      <h4 class="title">Project Done</h4>
                  </div>
              </div><!-- //. single counter up item -->
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="single-counter-up-item"><!-- single counter up item -->
                  <div class="icon">
                      <i class="far fa-lemon"></i>
                  </div>
                  <div class="content">
                      <div class="count-number">
                          <span class="count">10,070</span>
                      </div>
                      <h4 class="title">Cup Of Coffee</h4>
                  </div>
              </div><!-- //. single counter up item -->
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="single-counter-up-item"><!-- single counter up item -->
                  <div class="icon">
                      <i class="far fa-smile"></i>
                  </div>
                  <div class="content">
                      <div class="count-number">
                          <span class="count">98,090</span>
                      </div>
                      <h4 class="title">Happy Clients</h4>
                  </div>
              </div><!-- //. single counter up item -->
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="single-counter-up-item"><!-- single counter up item -->
                  <div class="icon">
                      <i class="far fa-gem"></i>
                  </div>
                  <div class="content">
                      <div class="count-number">
                          <span class="count">2,000</span>
                      </div>
                      <h4 class="title">Winning Awards</h4>
                  </div>
              </div><!-- //. single counter up item -->
          </div>
      </div>
  </div>
</div>
<!-- counter up area end -->