<!-- breadcrumb area start -->
<section class="breadcrumb-area breadcrumb-bg extra">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-inner"><!-- breadcrumb inner -->
                  <div class="left-content-area"><!-- left content area -->
                      <h1 class="title">Signup</h1>
                  </div><!-- //. left content area -->
                  <div class="right-content-area">
                      <ul>
                          <li><a href="index.html">Home</a></li>
                          <li>Signup</li>
                      </ul>
                  </div>
              </div><!-- //. breadcrumb inner -->
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb area end -->

<!-- login page content area start -->
<div class="login-page-content-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="signup-page-wrapper"><!-- login page wrapper -->
                  <div class="or">
                      <span>or</span>
                  </div>
                  <div class="row">
                      <div class="col-lg-6 padding-right-0">
                          <div class="left-content-area signup-bg">
                              <div class="img-wrapper">
                                      <a href="#" class="boxed-btn">create an account</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="right-contnet-area">
                              <div class="top-content">
                                  <h4 class="title">Signup Today</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                              </div>
                              <div class="bottom-content">
                                  <form action="login.html" class="login-form">
                                      <div class="form-element">
                                          <input type="email" class="input-field" placeholder="Enter Username or Email">
                                      </div>
                                      <div class="form-element">
                                          <input type="password" class="input-field" placeholder="Enter Password">
                                      </div>
                                      <div class="block-link">
                                          <a href="#" class="facebook">sign in with facebook</a>
                                          <a href="#" class="google">sign in with Google+</a>
                                      </div>
                                      <div class="btn-wrapper">
                                          <button type="submit" class="submit-btn">signup</button>
                                          <a href="#" class="link">Already have account?</a>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- //.login page wrapper -->
          </div>
      </div>
  </div>
</div>
<!-- login page content area end -->